<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./a.css" />
    <title>Jaeyoung Kim</title>
  </head>
  <body>
    <div class="center">
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <h1>Chat with Titanic</h1>
          </div>
          <div class="more-info">
            <h1>O</h1>
            <div class="coords">
              <span
                >Node.JS | Express | Socket.IO | MongoDB | jQuery |
                Bootstrap</span
              >
            </div>

            <div class="stats">
              <div>
                <div class="title">Git</div>
              </div>
              <div>
                <div class="title">Link</div>
              </div>
            </div>
          </div>
        </div>
        <div class="general">
          <h1>O</h1>
          <p>
            You can pick people and chat with people in my favorite movie
            Titanic. Multiple users can access this application and communicate
            in real time.
          </p>
          <span class="more">Mouse over the card for more info</span>
        </div>
      </div>
    </div>
  </body>
</html>
